{%extends 'layout.html'%}
{%block title%}
{{channel_name}} Channel
{%endblock%}

{%block body%}
<h1>
    This channel is: <span id="channel">{{channel_name}}</span>
</h1>

<hr>
<br>
<input type="text" id="messages" placeholder="enter message">
<button id="send">send</button>
<ul id="msg"></ul>

<hr>

<div>
    <ul>
        {% for msg in messages[channel_name]|reverse %}
        <li>
            {{ msg.user }} Says: {{ msg.message }} at {{ msg.time }}

        </li>
        {% endfor %}
    </ul>
</div>

{%endblock%}