{% extends 'index.html '%}
{% block title %}
{{ channel_name }} Channel
{%endblock%}


{%block body%}
<h3>
    <span id="channel">{{ channel_name }}</span>'s Messages
</h3>
<hr>

<div class="list-group" id="msg">
    {% for msg in messages[channel_name] | batch(100) | reverse | first  %}
    <div class="msgAppendDiv">
        <div class="d-flex w-20 justify-content-between">
            <h6 class="mb-1"> {{ msg.user }} </h6>
            <small>{{ msg.time }}</small>
        </div>
        <p class="mb-1">{{ msg.message }}</p>
    </div>
    {% endfor %}
</div>
<div class="msg_input">
    <div><input type="text" class="form-control" id="messages" placeholder="enter a message"></div>
    <div><button id="send" class="btn btn-primary btn-sm">send</button></div>
</div>

{% endblock %}