{%extends 'index.html'%}
{%block title%}
{{channel_name}} Channel
{%endblock%}




{%block body%}



<h3>
    <span id="channel">{{ channel_name }}</span>'s Messages
</h3>
<hr>

<div class="list-group" id="msg">
    {% for msg in messages[channel_name] | batch(100) | reverse | first  %}
    <div class="msgAppendDiv">
        <div class="d-flex w-20 justify-content-between">
            <h6 class="mb-1"> {{ msg.user }} </h6>
            <small>{{ msg.time }}</small>
        </div>
        <p class="mb-1">{{ msg.message }}</p>
    </div>

    {% endfor %}
</div>



<br>
<input type="text" id="messages" placeholder="enter message">
<button id="send">send</button>

{% endblock %}