{% extends 'layout.html' %}

{% block title %}
Index
{% endblock %}




{% block body %}

<form id="registered_form" class="hide registered_form">
    <h3 class="centering">Create username:</h3>
    <input class="form-control" name="username" placeholder="username" id="username">
    <div class="submit_btn"><button type="submit" id="add_user" class="btn btn-primary">Submit</button></div>
</form>


<hr>


<div class="registered_form">
    <h3 class="centering">Add Channel:</h3>
    <input type="text" class="form-control" name="create_channel" id="create_channel" placeholder="create channel">
    <div class="submit_btn"><button id="submit_channel" class="btn btn-dark">Submit Channel</button></div>
</div>




{% endblock %}