{% extends 'layout.html' %}

{% block title %}
Index
{% endblock %}

{%block body%}
<h1>Flack App</h1>

<fieldset>
    <form id="registered_form" class="hide">
        <input class="form-control" name="username" placeholder="username" id="username">
        <button type="submit" class="btn btn-primary">Create Name</button>
    </form>
</fieldset>

<hr>
<h3>All Channels</h3>
<ul>
    {% for channel in channels %}
    <a href="{{ url_for('current_channel', channel_name=channel )}}">
        <li>
            {{channel}}
        </li>
    </a>
    {% endfor %}
</ul>


<hr>

<h3>Add Channel</h3>
<div>
    <input type="text" name="create_channel" id="create_channel" placeholder="create channel">
    <button id="submit_channel">Submit Channel</button>
</div>



<hr>
<h3>Send Message to</h3>
<hr>

<div>Yes Votes: <span id="yes"></span></div>
<div>No Votes: <span id="no"></span></div>
<div>Maybe Votes: <span id="maybe"><span></div>
<hr>
<button data-vote="yes">Yes</button>
<button data-vote="no">No</button>
<button data-vote="maybe">Maybe</button>


<hr><br>
<input type="text" id="messages" placeholder="enter message">
<button id="send">send</button>
<ul id="msg"></ul>

{% endblock %}