{% extends 'layout.html' %}

{% block body %}
{% if session['logged_in'] %}

<h2>Search</h2>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-warning" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<form action="{{ url_for('results') }}" method="post">
    <div class="form-group">
        <label for="select">Select Search Type
            <select class="custom-select" name="params">
                <option value="">Specify Criteria from the list</option>
                <option value="isbn" name="params">ISBN</option>
                <option value="title" name="params">Title</option>
                <option value="author" name="params">Author</option>
                <option value="year" name="params">Year</option>
            </select>
        </label>
        <input class="input" type="text" name="search" placeholder="Enter Search Criteria">
    </div>

    <button class="btn btn-primary">Submit</button>

</form>

{% else %}
<h2>You must first login.</h2>
{% endif%}

{% endblock %}