.registered_form {
    max-width: 20vw;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .registered_form {
        max-width: 80vw;
    }

    .active_users {
        display: none;
        visibility: hidden;
    }
}

.hide {
    display: none;
    visibility: hidden;
}

.centering {
    display: flex;
    justify-content: center;
}

.submit_btn {
    padding: 2px;
    display: flex;
    justify-content: center;
}

#msg {
    overflow-y: scroll;
    height: 75vh;
    background-color: rgb(240, 238, 238);
    padding: .25em;
    border-radius: .5em;
}

.msgAppendDiv {
    background-color: whitesmoke;
    padding: .25em;
    margin: .5em;
    border-radius: .5em;

}

.active_users {
    margin-top: 2em;
}

.msg_input {
    position: relative;

}

.msg_input input {
    width: 100%;
    padding-right: 40px;
}

.msg_input button {
    position: absolute;
    top: 0;
    right: 0;
    height: auto;
    padding-bottom: .55em;
    padding-top: .55em;

}