.registered_form {
    max-width: 20vw;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .registered_form {
        max-width: 80vw;
    }
}

.hide {
    display: none;
    visibility: hidden;
}

.show {
    border: 2px solid black;
}

.centering {
    display: flex;
    justify-content: center;
}

.submit_btn {
    padding: 2px;
    display: flex;
    justify-content: center;
}